<html>
    <head>
        <title>Vesca</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>It works!</p>
 
<div class="bup-front-cont">

  <div class="bup-filter-header" id="up-filter-header">
  
  
       
         <div class="bup-book-steps-cont" id="bup-book-steps-cont">
    
    	
        <div class="bup-book-step1 bup-steps">
        		
                <div class="bup-cart-step-line-inactive"></div>
        
        		<div class="bup-cart-step-active bup-move-steps" id="bup-step-rounded-1">1</div>
                <div class="bup-cart-step-text-active">Service</div>
        
        </div>
        
        <div class="bup-book-step2 bup-steps">
        
        
            	<div class="bup-cart-step-line-inactive"></div>
        
        		<div class="bup-cart-step-inactive bup-move-steps" id="bup-step-rounded-2">2</div>
                  <div class="bup-cart-step-text-inactive">Time</div>
        
        </div>
        
        <div class="bup-book-step3 bup-steps">
        
        	    <div class="bup-cart-step-line-inactive"></div>
        
        		<div class="bup-cart-step-inactive bup-move-steps" id="bup-step-rounded-3">3</div>
                  <div class="bup-cart-step-text-inactive">Details &amp; Payment</div>
        
        </div>
        
        <div class="bup-book-step4 bup-steps">
        
        
        		 <div class="bup-cart-step-line-inactive"></div>
        
        		<div class="bup-cart-step-inactive bup-move-steps" id="bup-step-rounded-4">4</div>
                <div class="bup-cart-step-text-inactive">Thank you</div>  
        
        
        </div>
    
       
    
    </div>
     
     
            
      
    
    
    	<div class="bup-book-info-cont" id="bup-book-info-cont-div">
        
        
           <div class="bup-book-info-text">
           
           
           </div>
           
                       
           
                      
           
          	            
                   <div class="bup-book-info-block1 ">
                   
                   
                       <label>Select Service</label>
                   
                      <select name="bup-category" id="bup-category"><option value="" selected="selected">Select a Service</option><optgroup label="Appointments"><option value="2">Call Back</option></optgroup></select>                   
                   
                   </div>    
               
              
                             
                              
                      
           <div class="bup-book-info-block1 ">
            
             <label>Date</label>
              <input type="text" class="bupro-datepicker hasDatepicker" id="bup-start-date" value="04/25/2018">       
              
                       
           </div>
           
                      
                            <div class="bup-book-info-block1 " id="bup-staff-booking-list">
                
                 <label>With </label> 
                                 
                  <select name="bup-staff" id="bup-staff">                  
                  	<option value="">Please select provider</option>
                  </select>        
               
               
                </div>    
       	           	
    
        </div>
        
        
        
         </div>
         
          <div class="bup-nav-search-options-bar" id="bup-steps-nav-buttons"> 
          
                   
            <span class="bupbtnfind"><button id="bup-btn-next-step1" class="bup-button-submit">Check Availability</button></span>
         
         </div>       
        
        
        
         <div class="bup-book-info-text" id="bup-steps-cont-res">  
         
          <p>Please select service, date and provider then click on the Find Appointments button.</p>       
           
         </div>
    
    

</div>
        
           </body>
</html>
