{% extends 'home/navigation.html' %}

{% block content %}
<ul class="sub-menu">
	<li id="" class=""><a href="#" class="">Construction Schedule Analysis and Reporting</a></li>
	<li id="" class=""><a href="#" class="">Schedule Monitoring &amp; Construction Oversight</a></li>
	<li id="" class=""><a href="#" class="">Construction Schedule Updating</a></li>
	<li id="" class=""><a href="#" class="">Master Integrated Schedule (MIS) Development</a></li>
	<li id="" class=""><a href="#" class="">Cost-Loading</a></li>
	<li id="" class=""><a href="#" class="">Resource-Loading</a></li>
	<li id="" class=""><a href="#" class="">Schedule Delay Analysis / Time Impact Analysis</a></li>
	<li id="" class=""><a href="#" class="">Earned Value Analysis</a></li>
	<li id="" class=""><a href="#" class="">Site Visits</a></li>
	<li id="" class=""><a href="#" class="">Training: Construction Schedule Oversight</a></li>
</ul>
{% endblock %}
